@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "tw-animate-css";

@theme {
  --color-primary: #17447a;
  --color-red: #ff0000;
  --color-gray: #d9d9d9;
  --color-white: #ffffff;
  --color-green: #23b53e;
  --color-light: #f2f2f2;
  --font-montserrat: "Montserrat", sans-serif;
}

* {
  font-family: "Montserrat", sans-serif;
}

.font-monserrat {
  font-family: "Montserrat", sans-serif;
}

span.swiper-pagination-bullet.opacity-100.swiper-pagination-bullet-active.w-5.h-5.rounded-full.mx-1 {
  background-color: var(--color-red);
}

span.swiper-pagination-bullet.opacity-100.swiper-pagination-bullet-active.w-5.h-5.rounded-full.mx-1.two {
  background-color: var(--color-green);
}

.swal2-blur-bg {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}