@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";


@theme {
  --color-primary: #17447a;
  --color-red: #ff0000;
  --color-gray: #d9d9d9;
  --color-white: #ffffff;
  --color-green: #23b53e;
  --color-light: #f2f2f2;
  --font-montserrat: "Montserrat", sans-serif;
}

.font-monserrat {
  font-family: "Montserrat", sans-serif;
}
